table {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}


button {
  color: red;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  border : 1px solid black;
}

.bottom {
  border-bottom: 3px solid black;
}

.right {
  border-right: 3px solid black;
}

.userselect {
  background-color: gray;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10px;
}

html {
  background-color: lightgrey;
}

p {
  text-align: center;
}

